<mat-card class="filter-card">
  <mat-card-header>
    <mat-card-title>Filtros</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form class="filter-form">
      <mat-form-field appearance="outline">
        <mat-label>Ordenar por</mat-label>
        <mat-select [ngModel]="sortBy" (ngModelChange)="sortByChange.emit($event)" name="sortBy">
          <mat-option value="price">Preço</mat-option>
          <mat-option value="duration">Duração</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Preço Máximo</mat-label>
        <input matInput type="number" [(ngModel)]="filters.maxPrice" (ngModelChange)="filtersChange.emit(filters)" name="maxPrice">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Duração Máxima (min)</mat-label>
        <input matInput type="number" [(ngModel)]="filters.maxDuration" (ngModelChange)="filtersChange.emit(filters)" name="maxDuration">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Companhias</mat-label>
        <mat-select multiple [(ngModel)]="filters.airlines" (ngModelChange)="filtersChange.emit(filters)" name="airlines">
          <mat-option *ngFor="let airline of availableAirlines" [value]="airline">{{ airline }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-checkbox [(ngModel)]="filters.directFlightsOnly" (ngModelChange)="filtersChange.emit(filters)" name="directFlightsOnly">
        Somente voos diretos
      </mat-checkbox>
    </form>
  </mat-card-content>
</mat-card>
